*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.hero{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/banner.png);
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 6%;
}
nav img{
    width: 150px;
}
.navlinks{
    flex: 1;
    text-align: right;

}
.navlinks ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.navlinks ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.navlinks ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navlinks ul li:hover::after{
    width: 100%;
}
.content{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.content h1{
    font-size: 62px;

}
.content p{
    margin: 10px 0 40px;
    font-size:  14px  ;
    color: #fff;
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 13px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;


}
.btn:hover{
    border: 1px solid #f4433b;
    background-color: #f44336;
    transition: 1s;
}
nav .fa{
    display: none;
}
@media(max-width:750px){
    .content h1{
        font-size: 20px;
    }
    .navlinks ul li{
        display: block;

    }
    .navlinks{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
       
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size:22px;
        cursor: pointer;

    }
    .navlinks ul{
        padding: 30px;
    }
}
